body {
  margin: 0;
  font-family: "Inter" !important;
}

/* Login SignUp and Reset password Style */

.logo {
  max-width: 250px;
}
.label-text {
  font-size: small !important;
}
.input-style {
  border: 1px solid #019440 !important;
  outline: none !important;
  background-color: white !important;
  box-shadow: none !important;
  font-size: x-small !important;
}
.green-btn {
  background-color: #00341a !important;
  border-color: #00341a !important;
  outline: none !important;
  box-shadow: none !important;
}
.yellow-btn {
  background-color: #ffe81a;
  color: #00341a;
  padding: 1px 10px;
  border-radius: 5px;
}
.white-arrow {
  color: white;
  font-size: small;
}
.lightgreen-txt {
  color: #019440;
  font-size: small;
}
.eye-icon {
  position: absolute;
  right: 10px;
  top: 25px;
  cursor: pointer;
  color: #00341a;
}
.login-container {
  max-width: 500px;
  width: 100%;
  padding: 1rem;
}

/* Dashboard Style */
.sidebar-logo-bg {
  background-color: #d6f6e3 !important;
  padding: 10px;
}
.dashboard-sidebar-bg {
  background: #f3f5f3;
}
.plus-icon {
  font-size: x-small !important;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px !important;
  height: 100vh;
  overflow-y: auto;
  background: #f3f5f3;
  z-index: 1000;
}
.dashboard-layout {
  display: flex;
  height: 100vh;
}
.main-content {
  /* margin-left: 200px; */
  margin-left: 180px;
  /* padding: 20px; */
  /* height: 95vh; */
  overflow-y: auto;
  /* margin-top: 50px !important; */
}
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}
.user-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.maincontent-container {
  background-color: #fafafa;
  height: 90vh !important;
}
/* Tabs */
.tab-link {
  color: #000000 !important;
  font-size: small !important;
}

.tab-link.active {
  color: #019440 !important;
}
/* Pagination. */
.pagination .page-link {
  color: #000000;
  font-size: 8px;
}

.pagination .page-link:hover {
  color: #019440;
  background-color: #ffffff !important;
  border-color: #27272a !important;
}

.pagination .page-link:focus {
  outline: none;
}

.pagination .page-item.active .page-link {
  background-color: #019440;
  border-color: #019440 !important;
}

/* Filterbtn */
.filter-btn {
  width: 70px;
  height: 25px;
  font-weight: 600 !important;
}
.btn-outline-secondary {
  color: #ffffff;
  font-size: 12px !important;
  /* border-color: #000000; */
  border-color: #ffffff !important;
  background-color: #ffffff !important;
  font-size: x-small !important;
}

.btn-outline-secondary:hover {
  color: #019440 !important;
  border-color: #019440 !important;
  background-color: #ffffff !important;
}

.btn-outline-secondary:focus {
  outline: none;
}
.tableheader-txt {
  font-size: x-small !important;
  color: #a1a1aa !important;
  font-weight: 500 !important;
}
.tabledata-txt {
  font-size: x-small !important;
  color: #27272a !important;
  font-weight: 500 !important;
}

/* Modal styles to bring it on front */
.fixed {
  position: fixed;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.z-50 {
  z-index: 50;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.5);
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.modal-blur-bg {
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-heading-txt {
  font-size: medium !important;
  font-weight: 600 !important;
  color: #000000 !important;
}
.modal-label-txt {
  font-size: small !important;
}
.modal-input-txt {
  font-size: x-small !important;
  outline: none !important;
  box-shadow: none !important;
  border-color: #a1a1aa !important;
  border: #ffffff;
}
.modal-input-txt:hover {
  border-color: #019440 !important;
}
.modal-btn-bg {
  background-color: #019440 !important;
  color: #ffffff !important;
}
.modal-header {
  border-bottom: none !important;
}
.modal-footer {
  border-top: none !important;
}
