body {
  margin: 0;
  font-family: "Inter" !important;
}

/* Login SignUp and Reset password Style */

.logo {
  max-width: 250px;
}
.label-text {
  font-size: small !important;
}
.input-style {
  border: 1px solid #019440 !important;
  outline: none !important;
  background-color: white !important;
  box-shadow: none !important;
  font-size: x-small !important;
}
.green-btn {
  background-color: #00341a !important;
  border-color: #00341a !important;
  outline: none !important;
  box-shadow: none !important;
}
.yellow-btn {
  background-color: #ffe81a;
  color: #00341a;
  padding: 1px 10px;
  border-radius: 5px;
}
.white-arrow {
  color: white;
  font-size: small;
}
.lightgreen-txt {
  color: #019440;
  font-size: small;
}
.eye-icon {
  position: absolute;
  right: 10px;
  top: 25px;
  cursor: pointer;
  color: #00341a;
}
.login-container {
  max-width: 500px;
  width: 100%;
  padding: 1rem;
}

/* Dashboard Style */
.sidebar-logo-bg {
  background-color: #d6f6e3 !important;
  /* padding: 10px; */
}

.dashboard-sidebar-bg {
  background: #f3f5f3;
}
.plus-icon {
  font-size: x-small !important;
}

.dashboard-layout {
  display: flex;
  height: 100vh;
}

.user-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.maincontent-container {
  background-color: #fafafa;
  height: 90vh !important;
}
/* Tabs */
.tab-link {
  color: #000000 !important;
  font-size: small !important;
}

.tab-link.active {
  color: #019440 !important;
}
/* Pagination. */
.pagination .page-link {
  color: #000000;
  font-size: 8px;
}

.pagination .page-link:hover {
  color: #019440;
  background-color: #ffffff !important;
  border-color: #27272a !important;
}

.pagination .page-link:focus {
  outline: none;
}

.pagination .page-item.active .page-link {
  background-color: #019440;
  border-color: #019440 !important;
}

/* Filterbtn */
.filter-btn {
  width: 80px;
  height: 25px;
  font-weight: 600 !important;
}
.btn-outline-secondary {
  color: #ffffff;
  font-size: 12px !important;
  border-color: #ffffff !important;
  background-color: #ffffff !important;
  font-size: x-small !important;
}

.btn-outline-secondary:hover {
  color: #019440 !important;
  border-color: #019440 !important;
  background-color: #ffffff !important;
}

.btn-outline-secondary:focus {
  outline: none;
}
.tableheader-txt {
  font-size: x-small !important;
  color: #a1a1aa !important;
  font-weight: 500 !important;
}
.tabledata-txt {
  font-size: x-small !important;
  color: #27272a !important;
  font-weight: 500 !important;
}

/* Modal styles to bring it on front */
.fixed {
  position: fixed;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.z-50 {
  z-index: 50;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.5);
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.modal-blur-bg {
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-heading-txt {
  font-size: medium !important;
  font-weight: 600 !important;
  color: #000000 !important;
}
.modal-label-txt {
  font-size: small !important;
}
.modal-input-txt {
  font-size: x-small !important;
  outline: none !important;
  box-shadow: none !important;
  border-color: #a1a1aa !important;
  border: #ffffff;
}
.modal-input-txt:hover {
  border-color: #019440 !important;
}
.modal-btn-bg {
  background-color: #019440 !important;
  color: #ffffff !important;
}
.modal-header {
  border-bottom: none !important;
}
.modal-footer {
  border-top: none !important;
}
.notification-modal {
  margin: 0 !important;
}
.notification-modalposition {
  display: block !important;
  position: fixed !important;
  top: 8% !important;
  left: 75% !important;
  z-index: 1050 !important;
}
.notification-modal-height {
  height: 300px !important;
  width: 300px !important;
  border: 1px solid #000000 !important;
}
.separator {
  border-left: 2px solid #019440;
  height: 30px;
  margin: 0 10px;
}
.balance-box {
  border: 1px solid #019440;
  border-radius: 4px;
  min-width: 100px;
  justify-content: center;
  align-items: center;
}
.balance-txt {
  font-size: 12px;
  font-weight: bold;
  color: #9fa6b2;
}
.amount-txt {
  font-size: 16px;
  color: #019440 !important;
}

.hgo-text {
  margin-right: auto;
  font-size: x-small !important;
  font-weight: 500 !important;
}

.dropdown-section {
  margin-top: 1rem;
}
.plus-minus-btn {
  border: none !important;
  background-color: transparent;
}

/* Sidebar (Drawer Style) */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background: #f3f5f3;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

/* Blurred effect on main content when sidebar is open */
.main-content.blurred {
  filter: blur(3px);
  pointer-events: none;
}

/* Styles for overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.sidebar.open ~ .overlay {
  display: block;
}

.plus-icon {
  margin-left: auto;
}

/* responsive */
.sidebar-logo-bg {
  padding: 10px;
}

.close-btn {
  background: transparent;
  border: none;
  margin-left: -20px;
  padding-bottom: 38px !important;
}

.close-btn:hover {
  cursor: pointer;
}

/* Hide close button on larger screens */
@media (min-width: 768px) {
  .close-btn {
    display: none;
  }
  .sidebar {
    position: fixed;
    left: 0;
    width: 200px;
    height: 100%;
    background: #f3f5f3;
    z-index: 1;
    box-shadow: none;
  }

  .main-content {
    margin-left: 180px !important;
  }
}

.main-content1 {
  flex-grow: 1;
  width: 100%important;
  margin-left: 0px;
  padding: 0;
}
/* pagination of moazam */
.page-link:focus {
  box-shadow: none !important;
  outline: none !important;
}

/* mobile phones */
@media (max-width: 576px) {
  .bell-icon {
    margin-left: 0px !important; /* Reduce margin-left */
  }
  .main-content {
    margin-left: 0px !important;
  }
}
